<template>
  
  <CardVue style="width: 25em">
      <template #header>
        <h1 v-if="!pokemon">Cargando...</h1>

        <div v-else>
        <PokemonPicture 
            :pokemon-id="pokemon.id" 
            :show-pokemon="showPokemon" 
        />
        </div>
        
      </template>
      <template #title>
        Advanced Card
      </template>
      <template #subtitle>
        Card subtitle
      </template>
      <template #content>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
          numquam deserunt
          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!</p>
      </template>
      <template #footer>
        <ButtonVue icon="pi pi-check" label="Save" />
        <ButtonVue icon="pi pi-times" label="Cancel" class="p-button-secondary" style="margin-left: .5em" />
      </template>
    </CardVue>
  
  
</template>

<script>
import PokemonOptions from '../components/PokemonOptions'
import PokemonPicture from '../components/PokemonPicture'

import getPokemonOptions from '../composables/getPokemonOptions'


export default {
  components: { PokemonOptions, PokemonPicture },
  data() {
      return {
          pokemonArr: [],
          pokemon: null,
      }
  },
  methods: {
      async mixPokemonArray() {
          this.pokemonArr = await getPokemonOptions()
          const rndInt = Math.floor( Math.random() * 4 )
          this.pokemon = this.pokemonArr[ rndInt ]
      },
     
  },
  mounted() {
      this.mixPokemonArray()
  }

}
</script>
