<template>
  <div class="home">
    <CardVue style="width: 25em">
      <template #header>
        <img src="https://www.primefaces.org/wp-content/uploads/2020/02/primefacesorg-primevue-2020.png"
          style="height: 15rem" />
      </template>
      <template #title>
        Advanced Card
      </template>
      <template #subtitle>
        Card subtitle
      </template>
      <template #content>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
          numquam deserunt
          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!</p>
      </template>
      <template #footer>
        <ButtonVue icon="pi pi-check" label="Save" />
        <ButtonVue icon="pi pi-times" label="Cancel" class="p-button-secondary" style="margin-left: .5em" />
      </template>
    </CardVue>
  </div>
</template>

<script>
// @ is an alias to /src

export default {

  components: {

  }
}
</script>
<style lang="scss" scoped>
p {
  line-height: 1.5;
  margin: 0;
}
</style>